@import url('https://fonts.googleapis.com/css?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css?family=Sen&display=swap');

*{
    font-family: Roboto, sans-serif;
    padding: 0;
    margin: 0;
}

body {
    position: relative;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.contact-header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 35px;
    background-color: #235AA7;
    color: white;
    align-items: center;
    justify-content: center;
}

.contact-header-cover {
    width: 1170px;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.left-contact {
    display: flex;
    flex-direction: row;
}
.mail {
    display: flex;
    align-items: center;
}

i {
    font-size: 16px;
    font-weight: 100;
}
.mail > a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-left: 10px;
    text-align: center;
    font-size: 13px;
    transition: 0.5s all;
}

.mail > a:hover {
    color: #43B0E4;
    transition: 0.5s all;
}


.mail-icon {
    font-size: 18px;
    text-align: center;
}

.phone {
    display: flex;
    align-items: center;
    margin-left: 25px;
}

.phone > a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-left: 5px;
    text-align: center;
    font-size: 13px;
    transition: 0.5s all;
}

.phone > a:hover {
    color: #43B0E4;
    transition: 0.5s all;
}



.phone-icon {
    font-size: 18px;
    text-align: center;
}

.right-contact {
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-contact > a {
    color: white;
    font-size: 18px;
    padding: 5px;
}

.right-contact > a:hover {
    color: #43B0E4;
}


.navigation-bar {
    display: flex;
    align-items: center;
    padding-top: 30px;

}

.nav-menu {
    justify-content: end;
    align-items: center;
    display: flex;
}

.nav-menu > a {
    text-decoration: none;
    font-weight: bold;
    color: #6e747d;
    padding-left: 20px;
    font-size: 14px;
    transition: 0.2s all;
}

.nav-menu > a:hover {
    color: #43B0E4;
    transition: 0.2s all;
    text-decoration: none;
}

.nav-menu > :first-of-type {
    color: #43B0E4;
}


.opacity-back-ground {
    width: 100%;
    height: 455px;
    overflow: hidden;
    background-color: #000;
    opacity: 30%;
    position: absolute;
    z-index: 1  ;
    top: 0;
}







.banner-switch {
    width: auto;
    height: 455px;
    overflow: hidden;
    background-position: center;
    margin-top: 30px;
    position:  relative;
    justify-content: center;
    align-items: center;
    display: flex;
}

.banner-switch img {
    position: absolute;
    object-fit: cover;
    object-position: top;
    height: 455px;
    width: 100%;
    z-index: -1;
}

.banner-switch > h1 {
    color: white;
    font-size: 362.5%;
    display: flex;
    position: absolute;
    z-index: 10;
    line-height: 1.5;
    font-weight: normal;
    text-transform: none;
    font-weight: bold;
    z-index: 2;
    text-align: center;
}

.welcome-to-ep-power {
    display: flex;
    margin-top: 70px;
    justify-content: center;
    padding-left: 500px;
}


.content-welcome > h1 {
    font-size: 30px;
    color: #373E45;
    font-family: "Poppins", Sans-serif;
    font-size: 30px;
    font-weight: 400;

}

.content-welcome p {
    width: auto;
    font-size: 20px;
    margin: 0 0 10px;
}

.row {
    align-items: center;
}

.image-welcome img{
    border-radius: 12px;
    height: 100%;
    width: 100%;
}

.welcome-cover {
    display: flex;
    justify-content: center;
    width: 100%;
}

.brands-coop {
    margin-top: 125px;
}

.brands-coop > a:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    transform: translate(0px,-10px);
    transition: 0.5s all;
}

.brands-coop > a::before {
    transition: 0.5s;
    transform: translate(0px,-10px);
}

.brands-coop > div :hover {
    box-shadow: #000;
}
    
.brandim img {
    width: 100%;
    height: 100px;
    object-fit: contain;
    padding: 10px;
    display: block;
}

.brandim {
   height: 100px;
}

.rau {
    row-gap: 25px;

}

.jztr {
    border: 1px solid rgba(128, 128, 128, 0.205);
    display: flex;
    justify-content: center;
    
}

.applications {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.applications > h1 {
    margin-top: 160px;
    font-size: 28px;
}

.app{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-self: center;
    margin-top: 120px;
    justify-content: center;
    margin: 0 auto;   
    width: 65%;
    margin-top: 100px;  
    justify-content: center;
    align-items: center;
    row-gap: 25px;
}


.wrap {
    align-items: center;
    width: 100%;
}
.img-wrap > img {
    width: 100%;
    object-fit: cover;
    height: 170px;
}

.img-wrap  {
    text-decoration: none;
    padding: 10px;
    width: 100%;
    height: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.b-wrap {
    display: block;
    text-decoration: none;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    transition: 0.5s all;
    border-radius: 8px 8px 0px 0px;
}

.b-wrap:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    transform: translate(0px,-10px);
    transition: 0.5s all;
}

.b-wrap::before {
    transition: 0.5s;
    transform: translate(0px,-10px);
}

.name {
    font-family: Poppins, sans-serif;
    height: 75px;
    background-color: #42C33D;
    color: white;
    text-align: center;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 8px 8px;
    font-size: 19px;
}

.apps {
    width: 343.4px;
    height: 210px;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-right: 32px;
}

.img-apps {
width: 248.4px;
height: 190px;
}











.footer {
    background-color: #2A2D33;
    margin-top: 90px;
    display: flex;
    width: auto;
    align-items: center;
}


.footer-cover {
    width: 100%;
}

.navigation-footer {
    margin-top: 50px;
}

.navigation-footer > h1 {
    color: white;
    font-size: 16px;
}

.navigation-footer > ul {
    margin-top: 12px;
}

.navigation-footer > li {
    list-style: none;
    color: #C7C7C7;
    margin-top: 12px;   
    font-weight: bold;
    
}

.navigation-footer > li > a {
    text-decoration: none;
    color: #C7C7C7;
    font-size: 14px;
    transition: 0.5s all;
}

.navigation-footer > li > a:hover {
    color: #42C33D;
    transition: 0.5s all;
}

.navigation-footer > li > i:hover {
    transform: translate(3px,0px);
    transition: 0.5s all;
}



.get-in-touch-footer {
    margin-top: 50px;
;
}

.get-in-touch-footer > h1 {
    color: white;
    font-size: 15px;
}

.get-in-touch-footer > p {
    color: #C7C7C7;
    font-size: 14px;
    line-height: 2;
    margin-top: 10px;
    font-weight:lighter;
}

.get-in-touch-footer > div {
    margin-top: 10px;
    text-decoration: none;
    color: #C7C7C7;
    font-weight: bold;
}

.get-in-touch-footer > div > a {
    margin-top: 10px;
    text-decoration: none;
    color: #C7C7C7;
    font-weight: bold;
    transition: 0.5s all;
}

.get-in-touch-footer > div > a:hover {
    color: #42C33D;
    transition: 0.5s all;
}

.newsletter-footer {
    margin-top: 50px;
}
.newsletter-footer > h1{
    color: white;
    font-size: 15px;
}

.newsletter-footer > p {
    margin-top: 15px;
    color: #fff;
    font-size: 14px;
}
.formtns {
    position: relative;
    margin-top: 15px;
}

input[type="text"] {
    color: #000;
    border: transparent;
    width: 300px;
    height: 35px;
    border-radius: 3px;

}

input[placeholder="Email Address"] {
    padding-left: 31px;
    color: #C7C7C7;
    font-size: 15px;
}

input[type="text"]:focus::placeholder {
    color: transparent;
    border: transparent;
}

input[type="submit"] {
    background-color: #42C33D;
    color: #fff;
    width: 105px;
    height: 35px;
    border: transparent;
    border-radius: 0px 3px 3px 0px;
    cursor: pointer;
    font-size: 18px;
    position: absolute; 
    bottom: 2%; 
    right: -8.5%;
    z-index: 1;
    position: absolute;
}

input[ value="Subscribe!"] {
    font-size: 12px;
}

.copyright {
    width: auto;
    height: auto;
    background-color: #1E2228;
    color: #fff;
    font-size: 13px;
    display: flex;
    align-items: center;
}



.cpr2 p {
    text-align: right;
}

.cpr-row {
    padding-top: 25px;
}


.quick-contact {
    width: 34px;
    height: 170px;
    font-size: 18px;
    background-color: #0C0000;
    color: #fff;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    top: 0%;
    margin-top: 135px;
    cursor: pointer;
}

.quick-contact > div {
    writing-mode:vertical-lr;
}


@media only screen and (max-width: 768px) {
    .nav-menu a {
        display: none;
    }

    .bar-icon {
        display: flex;
        font-size: 35px;
        right: 0;
    }

    .menubar {
        font-size: 35px;
        color: #6e747d;
    }

    .banner-switch > h1 {
        color: white;
        font-size: 34.8px;
        display: flex;
        position: absolute;
        z-index: 10;
        line-height: 1.5;
        font-weight: normal;
        word-spacing: normal;
        text-transform: none;
        font-weight: bold;
        z-index: 2;
    }

    .menu-in-small-screen {
        display: block;
    }

    .cpr2 p {
        text-align: left;
    }

    .cpr-row {
        padding-top: 25px;
    }
  }

@media only screen and (max-width: 2560px) and (min-width: 769px) {
    .bar-icon {
        display: none;
    }

    .nav-menu {
        position: relative;
    }

    .bar-icon  {
        position: absolute;

    }

    .menu-in-small-screen {
        display: none;
    }
}

@media only screen and (max-width:46.1875em) {
    .contact-header {
        display: none;
    }
    
    input[type="text"] {
        width: 250px;
    }
}


.gray-line {
    width: 100%;
    height: 0.5px;
    background-color: gray;
    opacity: 90%;
    margin: 10px;
}

.nav-menu-cover {

    margin-top: 60px;
}

.nav-menu-cover a {
    font-size: 12px;
    color: #5A5A5A;
    padding: 10px;
    line-height: 1.4;
    font-weight: 700;
}

.menu-in-small-screen {
    border: #000 solid 1px;
    width: 250px;
    height: 100%;
    position: fixed;
    background-color: white;
    z-index: 5;
    right: 0;
    transform: translateX(100%);
    transition: all 0.3s;
}

.menu-in-small-screen.active {
    transition: all 0.3;
    transform: translateX(0%);

}

.down-ar {
    font-size: 15px;
    padding-left: 10px;
}

.button-close {
    position: absolute;
    right: 0;
    padding: 15px;

}

.close-x {
    font-size: 35px;
}